
[submodule "School/phpform"]
	path = School/phpform
	url = https://github.com/kpoldr/phpform.git
[submodule "School/ASP.NET + javascript project"]
	path = School/ASP.NET + javascript project
	url = https://github.com/kpoldr/ASP.NET-Javascipt.git
[submodule "School/Java Spring MVC"]
	path = School/Java Spring MVC
	url = https://github.com/kpoldr/JavaSpring.git
[submodule "School/Battleship game in C# + ASP.NET"]
	path = "School/Battleship game in C# + ASP.NET"
	url = https://github.com/kpoldr/BattleshipGame.git
